*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 40px 0;
  font-family: 'Open Sans', 'sans-serif';
  background-color: #fff;
  color: #444;
}

}

.icon-key {
  display: flex;
}

.icon-key img {
  margin-right: 10px;
}

.icon-key > img, .designations > img {
  height: 20px;
  width: 20px;
}

img {
  padding: 0;
}

a {
  text-decoration: none;
}

/* Taken from https://christianoliff.com/blog/styling-external-links-with-an-icon-in-css */
a[href^="http"]::after,
a[href^="https://"]::after
{
  content: "";
  width: 9px;
  height: 9px;
  margin-left: 4px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}


.main {
  max-width: 940px;
  margin: 0 auto;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
}

.main p {
  color: black;
  font-size: 1em;
  margin: 0;
}

.intro p {
  margin-left: 80px;
  margin-bottom: 10px;
}

.row {
  display: flex;
}

.row > * {
  padding-bottom: 30px;
}

.row.header {
  font-weight: bold;
  margin: 30px 0 40px 0;
}

.row.header > * {
  padding-bottom: 0;
}

.designations {
  display: flex;
  justify-content: flex-end;
  min-width: 60px;
  padding-right: 20px;
}

.title {
  width: 450px;
  padding-left: 20px;
  padding-right: 10px;
}

.tattoo {
  width: 300px;
}

.series-grouping {
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-bottom: 30px; /* An extra 10px since the last-child has 0 */
}

.series-grouping .series-description,
.series-grouping .individual-description,
.series-grouping .title {
  border-left: 3px solid #e6e6e6;
}

.series-grouping .row:last-child * {
  padding-bottom: 0;    /* Ensure the border doesn't extend past the text */
}

.series-description, .individual-description {
  color: #757575;
  padding-left: 20px;
  margin-left: 60px;
  padding-bottom: 20px;
}

.series-description {
  font-style: italic;
}

.individual-description {
  font-size: 0.85em;
}

.row:has(+ .individual-description) > * {
  padding-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .main p {
    font-size: 1.1em;
  }

  .intro p {
    margin-left: 20px;
  }

  .series-description, .individual-description {
    padding-left: 10px;
    margin-left: 50px;
  }

  .designations {
    min-width: 50px;
    padding-right: 10px;
  }

  .title {
    padding-left: 10px;
  }
}
